<%- include('./../../includes/header.ejs', {successMessage: successMessage, warningMessage: warningMessage, errorMessage: errorMessage}) %>
<main class="text-center mt-5">
    <div class="container">
        <h1>Register</h1>
        <form action="/register" method="post" class="col-12 col-sm-6 mx-auto border p-5 mt-4 text-left">
            <div class="form-group">
                <label for="name">Name</label>
                <input
                    type="text"
                    class="form-control"
                    name="name"
                    id="name"
                    placeholder="Enter Name"
                    value="Ahsan Mahmood"
                />
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input
                    type="email"
                    class="form-control"
                    name="email"
                    id="email"
                    placeholder="Enter Email"
                    value="test@demo.com"
                />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input
                    type="password"
                    class="form-control"
                    name="password"
                    id="password"
                    placeholder="Enter Password"
                    value="123456"
                />
            </div>
            <div class="form-group">
                <label for="password_confirm">Password Confirm</label>
                <input
                    type="password"
                    class="form-control"
                    name="password_confirm"
                    id="password_confirm"
                    placeholder="Enter Password Confirm"
                    value="123456"
                />
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfTokken %>">
            <div class="form-group text-center">
                <button type="submit" class="btn btn-outline-success">Register</button>
            </div>
        </form>
    </div>
</main>
<%- include('./../../includes/footer.ejs') %>
