<%- include('./../../includes/header.ejs', {successMessage: successMessage, warningMessage: warningMessage, errorMessage: errorMessage}) %>
<main class="text-center mt-5">
    <div class="container">
        <h1><%= pageTitle %></h1>
        <form action="/reset" method="post" class="col-12 col-sm-6 mx-auto border p-5 mt-4 text-left">
            <div class="form-group">
                <label for="email">Email</label>
                <input
                    type="text"
                    class="form-control"
                    name="email"
                    id="email"
                    placeholder="Enter Email"
                />
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfTokken %>">
            <div class="text-center">
                <div class="form-group text-center d-inline-block">
                    <button type="submit" class="btn btn-outline-success">Send Mail</button>
                </div>
                <a href="/login" class="btn btn-outline-warning d-inline-block">Login</a>
            </div>
        </form>
    </div>
</main>
<%- include('./../../includes/footer.ejs') %>
