<%- include('./../../includes/header.ejs', {successMessage: successMessage, warningMessage: warningMessage, errorMessage: errorMessage}) %>
<main class="text-center mt-5">
    <div class="container">
        <h1><%= pageTitle %></h1>
    </div>
</main>
<%- include('./../../includes/footer.ejs') %>
