<%- include('./../includes/header.ejs', {successMessage: successMessage, warningMessage: warningMessage, errorMessage: errorMessage}) %>
<main class="text-center pt-5">
    <h1 class="display-4">Page not found.</h1>
    <p class="text-muted">go back to shop page</p>
    <a class="btn btn-primary lift" href="/">Go Back</a>
</main>
<%- include('./../includes/footer.ejs') %>