<%- include('./../includes/header.ejs') %>
<main class="text-center">
    <h1 class="display-4">Add Product</h1>
    <form action="/add-product" method="post" class="form w-75 mx-auto">
        <div class="form-group text-left">
            <label for="title">Enter Product Title</label>
            <input
                type="text"
                class="form-control"
                name="title"
                id="title"
                required
                placeholder="Enter Product Title"
            />
        </div>
        <button type="submit" class="btn btn-outline-info btn-sm mx-auto">
            Add Product
        </button>
    </form>
</main>
<%- include('./../includes/footer.ejs') %>
